<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   <!--springboot配置文件中的值-->
    <springProperty scope="context" name="appname" source="logging.logback.appname"/>
    <springProperty scope="context" name="logLevel" source="logging.logback.level"/>
    <springProperty scope="context" name="logPath" source="logging.logback.path"/>

   <!--拼装日志路径-->
    <property name="logPathAll" value="${logPath}/${appname}/%d"/>

    <!--控制台-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d -- %msg%n</pattern>
        </layout>
    </appender>

    <!--只收集info级别的消息-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤掉error级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--要拦截的日志级别-->
            <level>ERROR</level>
            <!--如果匹配，则禁止-->
            <onMatch>DENY</onMatch>
            <!--如果不匹配，则允许记录-->
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>%d -- %msg%n</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${logPathAll}/info-%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--只收集error级别消息-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--添加 范围 过滤-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d -- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPathAll}/error-%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="${logLevel}">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>